<section class="container pt-5 mt-1 mt-sm-2 mt-md-4 mt-lg-5">
  <div class="text-center pb-2 pb-sm-3 pb-lg-0 pb-xxl-2 mx-auto mb-4 mb-lg-5">
    <h1 class="text-body fs-xs fw-medium text-uppercase mb-sm-4">Welcome To</h1>
    <h2 class="h1 mb-0">Gadre Tea Company</h2>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h5 class="mt-2">Inception and Overview</h5>
      <p>
        Gadre Tea Company, established in the year 2000, has emerged as a
        prominent player in the tea industry. Specializing in Selection,
        Purchase, and Blending of best quality teas. With our retail presence in
        various parts of Maharashtra, our operational hub resides in the vibrant
        city of Kolhapur.
      </p>
      <h5 class="mt-2">Commitment to Excellence</h5>
      <p>
        At Gadre Tea Company, our mission is to craft the perfect blend of tea
        that delights the senses and captivates the palate. Our dedication to
        excellence extends throughout our entire process, ensuring that each cup
        of tea reflects our unwavering commitment to quality and taste.
      </p>
      <h5 class="mt-2">Crafting the Perfect Blend</h5>
      <p>
        Our journey to creating the perfect blend begins with a meticulous tea
        tasting session conducted by our expert team. Sampling teas from
        renowned gardens, we meticulously select only the finest quality leaves
        to incorporate into our blends. This ensures that every cup of tea we
        offer is a harmonious combination of the best selections from these
        esteemed gardens.
      </p>
      <h5 class="mt-2">Exceptional Tea Experience</h5>
      <p>
        With our emphasis on quality sourcing, blending, and craftsmanship,
        Gadre Tea Company promises an exceptional tea experience with every sip.
        Whether enjoyed alone for a moment of tranquility or shared with loved
        ones, our teas are crafted to elevate the everyday and awaken the
        senses.
      </p>
      <p>
        Experience the unparalleled quality and richness of flavor that defines
        Gadre Tea Company. Join us on a journey of taste and discovery, where
        every cup tells a story of dedication, passion, and excellence.
      </p>
    </div>
    <div class="col-lg-6">
      <div class="timeline p-4 block mb-4">
        <div class="tl-item active">
          <div class="tl-dot b-warning"></div>
          <div class="tl-content">
            <div class="">
              <h5>Founding Members and Inception</h5>
              <p>
                Founded in the year 2000 by Kiran Sharad Gadre, Atul Sharad
                Gadre, and Partha Sharad Gadre.
              </p>
            </div>
          </div>
        </div>
        <div class="tl-item">
          <div class="tl-dot b-primary"></div>
          <div class="tl-content">
            <div class="">
              <h5>Key Personnel</h5>
              <p>
                Mr. Partha Sharad Gadre: Brings extensive expertise in Tea
                Tasting and Blending, contributing to the company's unique blend
                offerings and quality assurance.
              </p>
            </div>
          </div>
        </div>
        <div class="tl-item">
          <div class="tl-dot b-danger"></div>
          <div class="tl-content">
            <div class="">
              <h5>Expansion Journey</h5>
              <p>
                Commenced operations with the inauguration of the first shop in
                Sangli. <br />Expanded operations with the opening of the second
                shop... <br />Currently, the company boasts a network of shops
                strategically located in kolhapur, sangli, karad.
              </p>
            </div>
          </div>
        </div>
        <div class="tl-item">
          <div class="tl-dot b-warning"></div>
          <div class="tl-content">
            <div class="">
              <h5>Tea Sourcing</h5>
              <p>
                Our teas are sourced from prime locations renowned for their tea
                cultivation, including Assam and West Bengal.
              </p>
              <p>
                Gadre Tea is committed to providing exceptional tea experiences,
                blending tradition with innovation to bring the finest teas to
                our customers.
              </p>
            </div>
          </div>
        </div>
        <div class="tl-item">
          <div class="tl-dot"></div>
          <div class="tl-content">
            <div class=""></div>
            <div class="tl-date text-muted mt-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
